
    <link rel="stylesheet" href="/css/user.css">


    <!-- <%- include('_header');%> -->
    <h1>Profile page codial project</h1>
    <!-- <%- include('_footer');%> -->

    <p><%= locals.user.name %></p>
    <p><%= locals.user.email %></p>
    
